doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="thu, hs-ulm, th ulm, hochschule ulm, stundenplan, timetable, inf1, inf, informatik, informatik1")
    meta(name="description" content="Stundenplan der Technischen Hochschule Ulm Studiengang Informatik Semester 1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
